In [1]:
import mysql.connector

In [2]:
mydb = mysql.connector.connect(

 host='localhost',
 user='8888',
 passwd='123password'
)

mycursor = mydb.cursor()

sqlFormula = "INSERT INTO students (name, age) VALUES (%s, %s)"
student1 = [("Rachel", 22), ('Amanda',32), ("Jacob", 21), ('Avi', 28)]

mycursor.execute(sqlFormula, student1)

mydb.commit()

NameError: name 'mysql' is not defined

In [4]:
SELECT * FROM course

SELECT name.course, duration, name.author, description, thumbnail
FROM Course, author, content
WHERE id.course = id.author AND id.course = id_course.content

SELECT * FROM content, course

WHERE id_course.content = id.course

SyntaxError: invalid syntax (<ipython-input-4-4fb3395493b2>, line 1)